// Color palette
// Black and White
$color-black: #000;
$color-white: #faf9f6;

// Blue
$color-blue-light: #bfbff1;
$color-blue-medium: #202090;
$color-blue-dark: #040410;

// Orange
$color-orange: #ff4500;
$color-orange-dark: #c83200;

// Margins
$margin-edge: 1rem;
